@page
@model SparkAuto.Areas.Identity.Pages.Account.VerifyEmailModel


<h1>Confirm Email Address</h1>
<div>
    <p>Confirm your email before proceding! </p>
    <br/>
    If you haven't received any email please check your spam folder!
</div>
